body{
    margin: 0;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    overflow-y: hidden;
}
.night{
    height: 80vh;
    width: 70vw;
    border: 1px solid black;
    margin: 5rem auto;
    background: url('./Image/Img_1.png');
    background-size: cover;
    position: relative;
    box-shadow: 1px 2px 60px rgba(0, 0, 0, 4);
    overflow-x: hidden;

}
.surface{
    height: 140px;
    width: 500%;
    background: url('./Image/Img_02.png');
    display:block;
    position: absolute;
    bottom: 0%;
    left:0%;
    background-repeat: repeat-x;
    

}
.car{
    position: absolute;
    bottom:8%;
    left: 24%;
    

}
@keyframes moveRight{
    100%{transform: translateX(-2950px);
    }
}

@keyframes suspention{
    100%{
        translate: translateY(-1px);
    }
    50%{
        translate: translateY(2px);
    }
    0%{
        translate: translateY(-1px);
    }
}
.moveRight{
    animation: moveRight 6s linear infinite;
}
.suspention{
    animation: suspention 1s linear infinite;
}